/* Add styles to match the step-1 design */

.main-top-section {
	width: 100%;
	height: 375px;
	background: #f7f1e7;
	position: relative;
}

.top-header {
	width: 100%;
	height: 70px;
	text-align: center;
	background: #d8d8d8;
}

.menu {
	width: 100px;
	height: 40px;
	background: #536a63;
	float: left;
}

.logo {
	width: 300px;
	height: 40px;
	margin-top: 10px;
	background: #536a63;
	display: inline-block;
}

.sign-in {
	width: 100px;
	height: 40px;
	background: #536a63;
	float: right;
}
